{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
   "tabWidth": 2,
   "useTabs": false,
   "trailingComma": "none",
   "bracketSpacing": true,
   "rules": {
    "no-multiple-empty-lines": [
      "error",
      1
    ]
  }
}
